# Obtención de datos
https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/athlete_events.csv')
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
df.shape

(271116, 15)

In [4]:
contenders = df["Name"].size
print(contenders)

271116

In [5]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

# Visualicemos la columna "Medal"

In [ ]:
medal_count = df["Medal"].value_counts()
print(medal_count)

In [ ]:
medal_count.index

In [ ]:
medal_total = 0
for i in range(medal_count.size):
    medal_total = medal_total + medal_count[i]
print("El total de medallas es: " + str(medal_total))

no_medal = contenders - medal_total
print("Participantes sin medallas: " + str(no_medal))

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.pie.html

In [ ]:
labels = [medal_count.index[0], medal_count.index[2], medal_count.index[1], 'No Medal']
sizes = [medal_count[0], medal_count[2], medal_count[1], no_medal]

fig = plt.figure()
plt.pie(sizes, labels = labels, autopct='%1.1f%%')
plt.axis('equal')
plt.show()

In [ ]:
labels = [medal_count.index[0], medal_count.index[2], medal_count.index[1], 'No Medal']
sizes = [medal_count[0], medal_count[2], medal_count[1], no_medal]
explode = (0.5, 0.3, 0.1, 0)
colors = ['gold', 'silver', 'lightskyblue', 'lightcoral']

fig = plt.figure()
plt.pie(sizes, explode = explode, colors = colors, labels = labels, autopct='%1.1f%%')
plt.axis('equal')
plt.show()

# Separemos el df por los tipos de medallas.

### Oro

In [ ]:
gold = df[df['Medal'] == "Gold"]
gold = gold.drop(['Medal'], axis =1)
gold.head()

In [ ]:
print(gold.shape)
gold.describe()

### Plata

In [ ]:
silver = df[df['Medal'] == "Silver"].drop(['Medal'], axis =1)
silver.head()

In [ ]:
print(silver.shape)
silver.describe()

### Bronce

In [ ]:
bronze = df[df['Medal'] == "Bronze"].drop(['Medal'], axis =1)
bronze.head()

In [ ]:
print(bronze.shape)
bronze.describe()

# Filtremos el df de medallas de oro por equipo.

In [ ]:
team_count = gold["Team"].value_counts()
print(team_count)

In [ ]:
gold_grouped = gold.groupby('Team')
gold_filter = gold_grouped.filter(lambda x: x['Team'].count()>400)
gold_filter.head()

In [ ]:
print(gold_filter.shape)
gold_filter.describe()

In [ ]:
team_count = gold_filter["Team"].value_counts()
print(team_count)

In [ ]:
team_count.index

In [ ]:
sizes = team_count.tolist()
print(sizes)

In [ ]:
labels = team_count.index.tolist()
print(labels)

In [ ]:
fig = plt.figure()
plt.pie(sizes, labels = labels, autopct='%1.1f%%')
plt.axis('equal')
plt.title("Gold Medals per Country")
plt.show()

# Filtremos el df de medallas de plata por equipo.

In [ ]:
silver_grouped = silver.groupby('Team')
silver_filter = silver_grouped.filter(lambda x: x['Team'].count()>400)
silver_filter.head()

In [ ]:
team_count = silver_filter["Team"].value_counts()
print(team_count)

In [ ]:
sizes = team_count.tolist()
print(sizes)
labels = team_count.index.tolist()
print(labels)

In [ ]:
fig = plt.figure()
plt.pie(sizes, labels = labels, autopct='%1.1f%%')
plt.axis('equal')
plt.title("Silver Medals per Country")
plt.show()

# Filtremos el df de medallas de bronce por equipo.

In [ ]:
bronze_grouped = bronze.groupby('Team')
bronze_filter = bronze_grouped.filter(lambda x: x['Team'].count()>400)
bronze_filter.head()

In [ ]:
team_count = bronze_filter["Team"].value_counts()
print(team_count)

In [ ]:
sizes = team_count.tolist()
print(sizes)
labels = team_count.index.tolist()
print(labels)

In [ ]:
fig = plt.figure()
plt.pie(sizes, labels = labels, autopct='%1.1f%%')
plt.axis('equal')
plt.title("Bronze Medals per Country")
plt.show()

# Visualicemos a los tres países más representativos.

United States
<br>Soviet Union
<br>Germany

In [ ]:
labels = ['Gold', 'Silver', 'Bronze']

In [ ]:
countries = ['United States', 'Soviet Union', 'Germany']

In [ ]:
gold_medals = []
for country in countries:
    count = gold_filter["Team"].value_counts()[country]
    gold_medals.append(count)
print(gold_medals)

In [ ]:
silver_medals = []
for country in countries:
    count = silver_filter["Team"].value_counts()[country]
    silver_medals.append(count)
print(silver_medals)

In [ ]:
bronze_medals = []
for country in countries:
    count = bronze_filter["Team"].value_counts()[country]
    bronze_medals.append(count)
print(bronze_medals)

In [ ]:
medal_count = [sum(x) for x in zip(gold_medals, silver_medals, bronze_medals)]
print(medal_count)

In [ ]:
fig = plt.figure()
width = 0.5

plt.bar(countries, gold_medals, width, label = 'Gold')

bottom = gold_medals
plt.bar(countries, silver_medals, width, bottom = bottom, label = 'Silver')

bottom = [sum(x) for x in zip(gold_medals, silver_medals)]
plt.bar(countries, bronze_medals, width, bottom = bottom, label = 'Bronze')

plt.grid(True) 
plt.legend()
plt.show()

In [ ]:
import seaborn as sns
sns.set_style("darkgrid")

fig = plt.figure()
width = 0.5

plt.bar(countries, gold_medals, width, label = 'Gold')

bottom = gold_medals
plt.bar(countries, silver_medals, width, bottom = bottom, label = 'Silver')

bottom = [sum(x) for x in zip(gold_medals, silver_medals)]
plt.bar(countries, bronze_medals, width, bottom = bottom, label = 'Bronze')

plt.grid(True) 
plt.legend()
plt.show()

# ¿Qué más podemos hacer con estos datos?

In [ ]:
gold_filter.head()

In [ ]:
gold_filter["Sex"].value_counts()

In [ ]:
silver_filter["Sex"].value_counts()

In [ ]:
bronze_filter["Sex"].value_counts()

In [ ]:
sex_ = df["Sex"].value_counts()
print(sex_)

In [ ]:
sex_count = sex_[0] + sex_[1]
print(sex_count)
print(contenders)

In [ ]:
sport_ = df["Sport"].value_counts()
print(sport_)

In [ ]:
sport_count = 0
for i in range(sport_.size):
    sport_count = sport_count + sport_[i]
print(sport_count)
print(contenders)

In [ ]:
season_ = df["Season"].value_counts()
print(season_)

In [ ]:
season_count = season_[0] + season_[1]
print(season_count)
print(contenders)