In [1]:
### Python Exercises: Variables (3 pts.)
def python_variables():
    hometown = 'Puebla'
    # Place other variables here
    x = 298784
    j = 5
    l = 10
    z = j + l
    print(z) 
    t, q, r, s = "education", "education", "education", "education"

python_variables()

15

In [2]:
### Python Exercises: Data Types (2 pts.)
def data_types():
    a = ["apple", "banana", "cherry"]
    print(type(a)) 
    b = ("apple", "banana", "cherry")
    print(type(b))
    c = False
    print(type(c))
    d = 'covid-19'
    print(type(d))
    e = int(487)
    print(type(e))

data_types()

<class 'list'>
<class 'tuple'>
<class 'bool'>
<class 'str'>
<class 'int'>

In [3]:
### Python Exercises: Data Types 2 (3 pts.)
def data_types2():
    a = ["apple", "banana", "cherry"]
    b = ("apple", "banana", "cherry")
    c = False
    d = 'covid-19'
    e = int(487)
    # Use a single print statement to output data types
    print(type(a),"\n",type(b),"\n",type(c),"\n",type(d),"\n",type(e))

data_types2()

<class 'list'>
 <class 'tuple'>
 <class 'bool'>
 <class 'str'>
 <class 'int'>

In [4]:
### Python Exercises: Iteration (2 pts.)
def food_loop():
    lunches = ['burger','apple','soba','chahan']
    #for loop goes here
    for food in lunches:  
           print(food)
           if food=='soba':
            break
food_loop()

burger
apple
soba