In [16]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from time import sleep
driver = webdriver.Firefox(executable_path=r'C:\Users\Usuario\Documents\geckodriver.exe')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_25260\2114077363.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Firefox(executable_path=r'C:\Users\Usuario\Documents\geckodriver.exe')

In [17]:
amazon_url = 'https://www.amazon.com'
driver.get(amazon_url)

In [18]:
driver.maximize_window()

In [19]:
## Write what you want to search

input_search = driver.find_element('id','twotabsearchtextbox')
search_button = driver.find_element("xpath","//*[@id='nav-search-submit-button']")

In [20]:
## Search for tv

input_search.send_keys("tv")
sleep(1)
search_button.click()

# Backup

Scraping the product name

In [6]:
#products=[]
#for i in range(19):
#    print('Scraping page',i+1)
#    product = driver.find_elements("xpath","//span[@class='a-size-medium a-color-base a-text-normal']")
#    for  p in product:
#        products.append(p.text)
#    next_button = driver.find_element("css selector", "a.s-pagination-item:nth-child(7)")
#    next_button.click()
#    sleep(3)

In [7]:
#import pandas as pd
#product_name = pd.DataFrame(products)
#product_name.columns =['product_name']
#product_name

In [21]:
products=[]
prices=[]
rating_num=[]
model_year=[]
delivery_date = []
for i in range(19):
    print('Scraping page',i+1)
    product = driver.find_elements("xpath","//span[@class='a-size-medium a-color-base a-text-normal']")
    price = driver.find_elements("xpath","//span[@class='a-price-whole']")
    ratings = driver.find_elements("xpath","//span[@class='a-size-base puis-light-weight-text s-link-centralized-style']")
    model = driver.find_elements("xpath","//span[@class='a-size-base puis-medium-weight-text']")
    delivery = driver.find_elements("xpath","//div[@class='a-row s-align-children-center']")
    for  p in product:
        products.append(p.text)
    for  p in price:
        prices.append(p.text)
    for  p in ratings:
        rating_num.append(p.text)
    for  p in model:
        model_year.append(p.text)
    for  p in delivery:
        delivery_date.append(p.text)
    next_button = driver.find_element("xpath", "//a[@class='s-pagination-item s-pagination-next s-pagination-button s-pagination-separator']")
    next_button.click()
    sleep(3)

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10
Scraping page 11
Scraping page 12
Scraping page 13
Scraping page 14
Scraping page 15
Scraping page 16
Scraping page 17
Scraping page 18
Scraping page 19

In [22]:
import pandas as pd
product_name = pd.DataFrame(products)
product_name.columns =['product_name']
product_name

                                          product_name
0    All-New Insignia NS-75F301NA22 75-inch F30 Ser...
1    Pioneer 43-inch Class LED 4K UHD Smart Fire TV...
2    Insignia 50-inch Class F30 Series LED 4K UHD S...
3    All-New Insignia 42-inch Class F20 Series Smar...
4    All-New Insignia 32-inch Class F20 Series Smar...
..                                                 ...
430  Onn 32-Inch Class HD (720P) LED Smart TV Compa...
431  Samsung UN65J6300 65-Inch 1080p Smart LED TV (...
432  TCL 65" Class 4-Series 4K UHD HDR Roku 2017 Sm...
433  Sony KD75X85J 75" 4K High Definition Resolutio...
434  Kanto Full Motion PMX660 Pro Series Mount for ...

[435 rows x 1 columns]

In [23]:
product_price = pd.DataFrame(prices)
product_price.columns =['product_price']
product_price

    product_price
0             898
1             998
2           1,998
3             229
4             249
..            ...
433           499
434           129
435           152
436         2,197
437           259

[438 rows x 1 columns]

In [24]:
rating_num = pd.DataFrame(rating_num)
rating_num.columns =['total_ratings']
rating_num

ValueError: Length mismatch: Expected axis has 0 elements, new values have 1 elements

In [25]:
model_year = pd.DataFrame(model_year)
model_year.columns =['model_year']
model_year

ValueError: Length mismatch: Expected axis has 0 elements, new values have 1 elements

In [26]:
delivery_date = pd.DataFrame(delivery_date)
delivery_date.columns =['delivery_date']
delivery_date

                        delivery_date
0     Get it Wed, Nov 9 - Tue, Nov 15
1      Get it as soon as Today, Nov 5
2      Get it as soon as Today, Nov 5
3      Get it as soon as Today, Nov 5
4        Get it as soon as Tue, Nov 8
..                                ...
348      Get it as soon as Tue, Nov 8
349  Get it Thu, Nov 10 - Tue, Nov 15
350      Get it as soon as Wed, Nov 9
351   Get it Wed, Nov 9 - Mon, Nov 14
352  Get it Mon, Nov 14 - Wed, Nov 16

[353 rows x 1 columns]

In [13]:
dfs = pd.concat([product_name, product_price, rating_num, model_year, delivery_date], axis=1)
dfs

,product_name,product_price,total_ratings,model_year,delivery_date
0,All-New Insignia NS-75F301NA22 75-inch F30 Ser...,229,"8,114",75 inches,
1,Pioneer 43-inch Class LED 4K UHD Smart Fire TV...,"15,277","1,021",-,
2,"Samsung QN98QN90AA 98"" Neo QLED QN90 Series 4K...",529,6,4K,
3,SAMSUNG 75-Inch Class QLED Q80A Series - 4K UH...,174,"1,780",2018,
4,LG 75-Inch Class QNED85 Series Alexa Built-in ...,249,14,43 inches,
...,...,...,...,...,...
227,NaN,NaN,NaN,2022,NaN
228,NaN,NaN,NaN,"USB 2.0, Bluetooth, 3.5mm Audio, HDMI, AV Port",NaN
229,NaN,NaN,NaN,Button Control,NaN
230,NaN,NaN,NaN,1920 x 1080,NaN
231,NaN,NaN,NaN,Remote,NaN

In [14]:
tvs = dfs.to_csv('tvs.csv', index = True)

In [15]:
driver.quit()